---
layout: page
#description: "TO BE FILLED"
---

<!--header start-->
<header class="header">
    <div class="headerwrapper">
        <h1>Liyao (李姚)</h1>
        <div class="clearfix"></div>
        <h2>Shanghai Jiao Tong University</h2>
        <!--<h2>Computer Science and Engineering</h2>-->
    </div>
</header>
<!--header end-->

<!--section start-->
<div class="section">
    <!--
    <p>My name is Liyao(李姚). I'm a graduate student currently studying in Shanghai Jiao Tong University (SJTU) 
        majoring in computer science and will achieve my Master degree in Mar. 2020.

    <p>I am very interested in computer vision, especially segmentation. 
        In order to study related topics, I joined Lab of Digital Media and Data Reconstruction in Mar. 2017 as a graduate student. 
        Up to now, I've participated in several computer vision projects. 
        I am familiar with popular neural networks, MXNet framework and reading & reproducing papers. 
        I am keen to participate in any related topics/projects to cultivate my professional skills.
    -->

    <p>My name is Liyao(李姚). I'm a Ph.D. student currently studying in Shanghai Jiao Tong University (SJTU).

    <p>I joined APEX DATA & KNOWLEDGE MANAGEMENT LAB in Sept. 2020. New start, new challenge.

    </p>
    <br/>
    <hr>
    <br/>
</div>            
<!--section end-->

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
