---
layout: page
#description: "TO BE FILLED"
---

<!--header start-->
<header class="header">
    <div class="headerwrapper">
        <h1>Liyao (李姚)</h1>
        <div class="clearfix"></div>
        <h2>Shanghai Jiao Tong University - Computer Science and Engineering</h2>
    </div>
</header>
<!--header end-->

<!--section start-->
<div class="section">
    <p>I'm an undergraduate student currently studying in Shanghai Jiao Tong University (SJTU) majoring in computer science and will achieve my Bachelor degree in Jun. 2019. Since Sept. 2015, I've been a member of <span class="spec"> Zhiyuan Honor Program of Engineering</span> which belongs to Zhiyuan College (independent research-oriented colloge in SJTU). You can find me at
    <a href="http://zhiyuan.sjtu.edu.cn/student/2015/%E5%B7%A5%E7%A7%91%E6%96%B9%E5%90%91#%E5%BC%A0%E9%80%B8%E6%81%92">here</a>
    </p>
    <br/>
    <p>My research interests basically lie in Computer Graphics and Vision. Most of my work is related to global illumination while a bunch of other topics remain attractive to me, including geometric modeling, texture simulation, scene reconstruction, 3-D vision and animation.
    </p>
    <br/>
    <p>From July 2018, I will go to Shenzhen to work as a research intern in <span class="spec">Tencent Company</span> under the supervison of <span class="spec">Prof. Jiaya Jia</span> 
    </p>
    <br/>
</div>            
<!--section end-->

{% for post in paginator.posts %}
<div class="post-preview">
    <a href="{{ post.url | prepend: site.baseurl }}">
        <h2 class="post-title">
            {{ post.title }}
        </h2>
        {% if post.subtitle %}
        <h3 class="post-subtitle">
            {{ post.subtitle }}
        </h3>
        {% endif %}
        <div class="post-content-preview">
            {{ post.content | strip_html | truncate:200 }}
        </div>
    </a>
    <p class="post-meta">
        Posted by {% if post.author %}{{ post.author }}{% else %}{{ site.title }}{% endif %} on {{ post.date | date: "%B %-d, %Y" }}
    </p>
</div>
<hr>
{% endfor %}

<body>
<p>body 元素的内容会显示在浏览器中: TEST 1</p>
</body>

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
